.tahoma {
  font-family: Tahoma;
}

.arial {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}
.arial-sub {
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
  color: red;
  margin-top: 6px;
  margin-bottom: 2em;
}

.verdana {
  font-family: Verdana;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.verdana-sub {
  font-family: Verdana;
  font-size: 14px;
  color: rgb(98, 97, 97);
  margin-top: 4px;
}
.verdana-desc {
  font-family: Verdana;
  font-size: 14px;
  width: 250px;
}
.verdana-button {
  font-family: Verdana;
  font-size: 12px;
  color: white;
  background-color: #367a22;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.verdana-button:hover {
  background-color: #2e5f1a;
}
.verdana-button:active {
  background-color: #1f3f11;
}

.apple {
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 1.5em;
}
.apple-sub {
  font-family: Arial;
  text-align: center;
}
.apple-link {
  font-family: Arial;
  text-align: center;
  color: blue;
  cursor: pointer;
}
.apple-link:hover {
  color: orangered;
  text-decoration: underline;
}
.apple-link:active {
  color: darkblue;
}
